In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'numpy'

In [7]:
df = pd.read_csv('movies_metadata.csv')

In [8]:
df.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [9]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [11]:
df.shape

(45466, 24)

In [12]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(13)

In [14]:
df= df.drop_duplicates().reset_index(drop =True)

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df=df[['title','overview','genres','tagline','vote_average','popularity']]

In [17]:
df

                             title  ... popularity
0                        Toy Story  ...  21.946943
1                          Jumanji  ...  17.015539
2                 Grumpier Old Men  ...    11.7129
3                Waiting to Exhale  ...   3.859495
4      Father of the Bride Part II  ...   8.387519
...                            ...  ...        ...
45448                       Subdue  ...   0.072051
45449          Century of Birthing  ...   0.178241
45450                     Betrayal  ...   0.903007
45451             Satan Triumphant  ...   0.003503
45452                     Queerama  ...   0.163015

[45453 rows x 6 columns]

In [18]:
df.isnull().sum()

title               6
overview          954
genres              0
tagline         25045
vote_average        6
popularity          5
dtype: int64

In [19]:
df=df.dropna(subset=['title'])

In [20]:
df['overview']=df['overview'].fillna(' ')

In [21]:
df.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [22]:
import ast
df['genres']=df['genres'].apply(lambda x:" ".join([i['name'] for i in ast.literal_eval(x)]))

In [23]:
df.head()

                         title  ... popularity
0                    Toy Story  ...  21.946943
1                      Jumanji  ...  17.015539
2             Grumpier Old Men  ...    11.7129
3            Waiting to Exhale  ...   3.859495
4  Father of the Bride Part II  ...   8.387519

[5 rows x 6 columns]

In [24]:
df.isnull().sum()

title               0
overview            0
genres              0
tagline         25039
vote_average        0
popularity          0
dtype: int64

In [25]:
df['tagline'] =df['tagline'].fillna('')

In [26]:
df.isnull().sum()

title           0
overview        0
genres          0
tagline         0
vote_average    0
popularity      0
dtype: int64

In [27]:
df['tags'] = df['overview']+" " + df['genres'] +" "+ df['tagline']

In [28]:
df.head()

                         title  ...                                               tags
0                    Toy Story  ...  Led by Woody, Andy's toys live happily in his ...
1                      Jumanji  ...  When siblings Judy and Peter discover an encha...
2             Grumpier Old Men  ...  A family wedding reignites the ancient feud be...
3            Waiting to Exhale  ...  Cheated on, mistreated and stepped on, the wom...
4  Father of the Bride Part II  ...  Just when George Banks has recovered from his ...

[5 rows x 7 columns]

In [29]:
df['tags'][0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. Animation Comedy Family "

In [30]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

In [31]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [32]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [33]:
def preprocess_text(text):
    #lowercase
    text = str(text).lower()
    #removed the punctuations
    text = re.sub(r'[^a-zA-z\s]', '',text)

    words = text.split()
    #remove stopwords
    words =[word for word in words if word not in stop_words]

    #lemmatize
    words =[lemmatizer.lemmatize(word) for word in words]

    return " ".join(words)

In [34]:
df['tags'] = df['tags'].apply(preprocess_text)

In [35]:
df['tags'][0]

'led woody andys toy live happily room andys birthday brings buzz lightyear onto scene afraid losing place andys heart woody plot buzz circumstance separate buzz woody owner duo eventually learns put aside difference animation comedy family'

In [36]:
df = df.reset_index(drop= True)

In [52]:
indices = pd.Series(df.index, index=df['title'].str.lower()).drop_duplicates()
indices

title
toy story                          0
jumanji                            1
grumpier old men                   2
waiting to exhale                  3
father of the bride part ii        4
                               ...
subdue                         45442
century of birthing            45443
betrayal                       45444
satan triumphant               45445
queerama                       45446
Length: 45447, dtype: int64

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [39]:
tfidf = TfidfVectorizer(max_features=50000, ngram_range=(1,2),stop_words='english')

In [40]:
tfidf_matrix =tfidf.fit_transform(df['tags'])

In [41]:
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1548332 stored elements and shape (45447, 50000)>

In [42]:
from sklearn.metrics.pairwise import cosine_similarity

In [55]:
def recommend(title, n=10):
    title = title.lower()
    if title not in indices:
        return ['Movie not found']
    
    idx = indices[title]
    sim_score = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten()
    similar_idx= sim_score.argsort()[::-1][1:n+1]
    return df['title'].iloc[similar_idx].tolist()

In [57]:
recommend('Avatar',5)

['Avatar 2',
 'Thor: Ragnarok',
 'The Inhabited Island',
 'Moontrap: Target Earth',
 'Lara Croft Tomb Raider: The Cradle of Life']

In [58]:
import pickle 

pickle.dump(tfidf_matrix,open('tfidf_matrix.pkl','wb'))

pickle.dump(indices,open('indices.pkl','wb'))

df.to_pickle('df.pkl')

pickle.dump(tfidf,open('tfidf.pkl','wb'))